:root {
    --font-sans-serif:  -apple-system, BlinkMacSystemFont, "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "PingFang SC", 
    HarmonyOS_Regular, "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", 
    Helvetica, "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", 
    Arial, sans-serif;
    --font-serif: STZhongsong, STSong, "Noto Serif CJK", "Noto Serif SC", PMingLiu,
    SimSun, "WenQuanYi Bitmap Song", "Times New Roman", Times, serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-mono: "Fira Code", Menlo, Monaco, Consolas,"Courier New", monospace, 
    ui-monospace, SFMono-Regular, "SF Mono", "Cascadia Code", "Segoe UI Mono", "Source Code Pro", "Liberation Mono"
}

/* css styles */
body {
    font-family: var(--font-sans-serif);
    line-height: 1.7rem;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    line-height: 1.1rem;
    font-weight: 700;
}

h1 {
    font-size: 20px;
    text-align: left;
}

h2 {
    font-size:20px;
}

h3 {
    font-size: 18px;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full > div > h1 {
    font-size: 3rem;

}
.navbar-container {
    font-family: var(--font-serif);
}

.description {
    /* font-family: var(--font-serif); */
    font-size: 1rem;
    /* font-weight: light; */
}




