/*-- scss:default --*/
$headings-font-family:  STZhongsong, STSong, "Noto Serif CJK", "Noto Serif SC", PMingLiu,
      SimSun, "WenQuanYi Bitmap Song", "Times New Roman", Times, serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-family-base: -apple-system, BlinkMacSystemFont, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "PingFang SC",
      HarmonyOS_Regular, "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
      Helvetica, "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei",
      Arial, sans-serif !default;

$font-family-code: "Fira Code", Menlo, Monaco, Consolas,"Courier New", monospace, 
      ui-monospace, SFMono-Regular, "SF Mono", "Cascadia Code",
      "Segoe UI Mono", "Source Code Pro", "Liberation Mono" !default;

$line-height-base: 1.7 !default;

$h1-font-size: 1.5 !default;
$h2-font-size: 1.25 !default;
$h3-font-size: 1 !default;

/*-- scss:rules --*/
#body {
    font-family: $font-family-base;
}
.navbar {
    font-family: $headings-font-family;
    font-size: 1.2rem;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full > div > h1{
    font-size: 3rem;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full > div > div > div {
    margin-top: 0.5rem;
}

#quarto-margin-sidebar > h5 {
    margin-top: 1em;
}

#quarto-header {
    font-weight: bold;
}

.navbar-title {
    font-weight: bold;
}

#listing-listing > div.list.quarto-listing-default > div > div.body > h3 > a {
    font-weight: bold;
}