
/* 
.badge {
    display: unset;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.tag {
    display: inline-block;
    border: 1px solid rgba(11, 11, 11, 0.8);
    border-radius: 999em;
    padding: 0 10px 0 10px;
    color: rgba(11, 11, 11, 0.8);
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
    margin-bottom: 6px;
    cursor: pointer;
} */