## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl" />
<%namespace name="math" file="math_helper.tmpl" />
<%namespace name="comments" file="comments_helper.tmpl" />
<%namespace name="pagination" file="pagination_helper.tmpl" />
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*" />
<%namespace name="tags" file="tags.tmpl" import="*" />
<%inherit file="base.tmpl" />

<%block name="extra_head">
    ${parent.extra_head()}
    % if posts and (permalink == '/' or permalink == '/' + index_file):
    <link rel="prefetch" href="${posts[0].permalink()}" type="text/html">
    % endif
    ${math.math_styles_ifposts(posts)}
    <style>
        .index_bg_picture {
            background-image: url('/assets/img/index.png');
            background-repeat: no-repeat;
            background-size: cover;
            -moz-background-size: 100% 100%;
        }

        .position-sticky {
            position: sticky !important;
            top: 20px;
        }

        .badge {
            display: unset;
        }

        .list-inline-item:not(:last-child) {
            margin-right: 0;
        }
    </style>
</%block>

<%block name="content">
    <%block name="content_header">
        ${feeds_translations.translation_link(kind)}
    </%block>
    % if 'main_index' in pagekind:
    ${front_index_header}
    % endif
    % if page_links:
    ${pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed)}
    % endif

    <div class="postindex">
        <div class="jumbotron p-4 p-md-5 textwhite rounded bg-dark index_bg_picture">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-itlaic text-white font-weight-bold">数据科学家的笔记本</h1>
                <p class="lead my-3 text-white">
                    3 分钟使用 Nilola 搭建个人博客
                </p>
                <p class="lead mb-0">
                    <a href="/posts/blogging-with-Nikola-and-WSL2/" class="text-white font-weight-bold">Continue reading
                        ...</a>
                </p>
            </div>
        </div>

        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    % for post in posts:
                    <article class="h-entry post-${post.meta('type')}" itemscope="itemscope"
                        itemtype="http://schema.org/Article">
                        <header>
                            <h1 class="p-name entry-title"><a href="${post.permalink()}"
                                    class="u-url">${post.title()|h}</a></h1>
                            <div class="metadata">
                                <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
                                        % if author_pages_generated and multiple_authors_per_post:
                                        % for author in post.authors():
                                        <a href="${_link('author', author)}">${author|h}</a>
                                        % endfor
                                        % elif author_pages_generated:
                                        <a href="${_link('author', post.author())}">${post.author()|h}</a>
                                        % else:
                                        ${post.author()|h}
                                        % endif
                                    </span></p>
                                <p class="dateline">
                                    <a href="${post.permalink()}" rel="bookmark">
                                        <time class="published dt-published" datetime="${post.formatted_date('webiso')}"
                                            itemprop="datePublished"
                                            title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time>
                                        % if post.updated and post.updated != post.date:
                                        <span class="updated"> (${messages("updated")}
                                            <time class="dt-updated" datetime="${post.formatted_updated('webiso')}"
                                                itemprop="dateUpdated"
                                                title="${post.formatted_updated(date_format)|h}">${post.formatted_updated(date_format)|h}</time>)</span>
                                        % endif
                                    </a>
                                </p>
                                % if not post.meta('nocomments') and site_has_comments:
                                <p class="commentline">${comments.comment_link(post.permalink(), post._base_path)}
                                    % endif
                            </div>
                        </header>
                        %if index_teasers:
                        <div class="p-summary entry-summary">
                            ${post.text(teaser_only=True)}
                            %else:
                            <div class="e-content entry-content">
                                ${post.text(teaser_only=False)}
                                %endif
                            </div>
                    </article>
                    <hr style="border: 0; border-top: 1px solid #eee;" />
                    % endfor
                </div>
                <aside class="col-md-4 blog-sidebar">
                    <div class="position-sticky">
                        <div class="px-4 pt-4 mb-3">
                            <h4 class="font-italic">About</h4>
                            <p class="mb-0 text-left">Tom，金融民工，兴趣使然的
                                coder，偶尔折腾一下机器学习。
                            </p>
                            <p class="mb-0 text-left">联系方式，QQ：3587734141，邮箱：roundedtom@qq.com</p>
                        </div>
                        <div class="px-4 mb-3">
                            <h4 class="font-italic">Categories</h4>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/categories/cat_blockchain/">Blockchain</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/categories/cat_coding/">Coding</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/categories/cat_data-analysis/">Data Analysis</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/categories/cat_econometrics/">Econometrics</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/categories/cat_mathematics/">Mathematics</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/categories/cat_tech/">TECH</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/categories/cat_web-scraping/">Web Scraping</a></li>
                            </ul>
                        </div>
                        <div class="px-4 mb-3">
                            <h4 class="font-italic">Arhcives</h4>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/2023/">2023</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/2022/">2022</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/2021/">2021</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/2020/">2020</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="/2019/">2019</a></li>
                            </ul>
                        </div>
                        <div class="px-4 mb-3">
                            <h4 class="font-italic">Elsewhere</h4>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="#">Github</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="#">Weibo</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary"
                                        href="#">Mail</a></li>
                                <li class="list-inline-item"><a class="reference badge badge-secondary" href="#">QQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </main>
    </div>
    ${helper.html_pager()}
    ${comments.comment_link_script()}
    ${math.math_scripts_ifposts(posts)}
</%block>