## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>

<%block name="content">
## <h1>${title|h}</h1>

${tags_index()}
</%block>

<%def name="tags_index()">
% if items:
    <ul class="list-inline">
    % for text, link in items:
        % if text not in hidden_tags:
            <li class="list-inline-item"><a class="reference badge badge-secondary" href="${link}" style="display:unset">${text|h}</a></li>
        % endif
    % endfor
    </ul>
% endif
</%def>